<tr id='<%= language %>'>
  <td>
    <%= language %>
  </td>
  <td>
    <span id='<%= language %>-sparkline'></span>
  </td>
  <td class='min'>
  </td>
  <td class='min-date'></td>
  <td class='max'>
  <td class='max-date'></td>
  </td>
</tr>
