---
title: Github trends
---

<div id="push_counts">
  <table class="sparklines">
    <caption>Weekly Push Counts, March 11, 2012 - October 10, 2013</caption>
    <thead>
      <th>
        Language
      </th>
      <th>
      </th>
      <th>min</th>
      <th></th>
      <th>max</th>
      </th>
      <th></th>
    </thead>
    <tbody>
    <% languages = %w(javascript coffeescript ruby python php java go haskell clojure erlang elixir viml) %>
    <% languages.each do |language| %>
      <%= partial 'table_row', locals: { language: language } %>
    <% end %>

    </tbody>
</table>
<br />
<br />source: <a href="http://www.githubarchive.org/">Github Archive</a> 
<br />
<br /> Query: "SELECT STRFTIME_UTC_USEC(TIMESTAMP(repository_pushed_at), "%Y-%m-%d") as days, repository_language, count(repository_language) as lang_count
FROM [githubarchive:github.timeline]
WHERE type="PushEvent"
    AND PARSE_UTC_USEC(created_at) >= PARSE_UTC_USEC('2012-03-01 00:00:00')
    GROUP BY days, repository_language
    ORDER BY repository_language DESC;"
</div><!-- .welcome -->

<br />
<br />
