---
title: Github trends
---

<div class="content">
  <table>
    <thead>
      <th>
        language
      </th>
      <th>
      </th>
    </thead>
    <tr>
      <td>
        javascript
      </td>
      <td>
        <span id='javascript'></span>
      </td>
    </tr>
    <tr>
      <td>
        coffeescript 
      </td>
      <td>
        <span id='coffeescript'></span>
      </td>
    </tr>
  <tr>
    <td>
      ruby </td>
    <td>
      <span id='ruby'></span>
    </td>
  </tr>
  <tr>
    <td>
      python
    </td>
    <td>
      <span id='python'></span>
    </td>
  </tr>

  <tr>
    <td>
      php
    </td>
    <td>
      <span id='php'></span>
    </td>
  </tr>

  <tr>
    <td>
      go 
    </td>
    <td>
      <span id='go'></span>
    </td>
  </tr>

  <tr>
    <td>
      haskell
    </td>
    <td>
      <span id='haskell'></span>
    </td>
  </tr>

  <tr>
    <td>
      clojure
    </td>
    <td>
      <span id='clojure'></span>
    </td>
  </tr>

  <tr>
    <td>
      scala
    </td>
    <td>
      <span id='scala'></span>
    </td>
  </tr>

  <tr>
    <td>
     erlang
    </td>
    <td>
      <span id='erlang'></span>
    </td>
  </tr>

  <tr>
    <td>
     elixir
    </td>
    <td>
      <span id='elixir'></span>
    </td>
  </tr>

  <tr>
    <td>
     VimL
    </td>
    <td>
      <span id='viml'></span>
    </td>
  </tr>
</table>
source: <a href="http://www.githubarchive.org/">Github Archive</a> 
<br /> Query: "SELECT STRFTIME_UTC_USEC(TIMESTAMP(repository_pushed_at), "%Y-%m-%d") as days, repository_language, count(repository_language) as lang_count
FROM [githubarchive:github.timeline]
WHERE type="PushEvent"
    AND PARSE_UTC_USEC(created_at) >= PARSE_UTC_USEC('2013-03-01 00:00:00')
    GROUP BY days, repository_language
    ORDER BY repository_language DESC;"
</div><!-- .welcome -->
